@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #003241;
}

.dark {
  --background: #001820;
  --foreground: #eaf4f7;
}

html, body {
  height: 100%;
  margin: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
